body{
    background-color: darkgrey;
}

#consent-popup{
    visibility: visible;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 2rem;
    background-color: #fff;
    transition: opacity 2s ease;
}

.hidden{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}
