<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/cookieconsent.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <title>Cookie Consent</title>
</head>

<body>
    <h1 class="heading">Cookie Consent</h1>



    <div id="consent-popup" class="hidden">
        <p>By useing this site you agress to our <a href="#">Terms and conditions</a>
            Please <a id="accept" href="#">Accept</a> these before using our site.
        </p>

    </div>




</body>
<script src="static/js/cookieconsent.js"> </script>

</html>